  redirect 301 /feed https://richardpope.org/feed.xml
  redirect 301 /rss https://richardpope.org/feed.xml
  redirect 301 /index.html https://richardpope.org/blog
  redirect 301 /2014/05/20/notes-5-9th-may-2014/ https://richardpope.org/blog/2014/05/20/notes-5-9th-may-2014/
  redirect 301 /2014/05/21/notes-10th-18th-may-2014/ https://richardpope.org/blog/notes-capital-ring-habitat/
  redirect 301 /2014/05/27/cascading-digital-tidyup-moving-from-gmail/ https://richardpope.org/blog/2014/05/21/notes-capital-ring-habitat/
  redirect 301 /2014/06/01/input/ https://richardpope.org/blog/2014/06/01/input/
  redirect 301 /2014/06/08/notes-2nd-june-9th-june/ https://richardpope.org/blog/2014/06/08/notes-2nd-june-9th-june/
  redirect 301 /2014/06/22/timeless-buses/ https://richardpope.org/blog/2014/06/22/timeless/
  redirect 301 /2014/06/22/anatomy-of-a-project-space/ https://pt2.works/anatomy-of-a-product-space/
  redirect 301 /2014/07/06/notes-2034-osm-mapping-trianulation/ https://ricahrdpope.org/blog/2014/07/06/notes-2034-osm-mapping-trianulation/
  redirect 301 /2014/07/06/local-government/ https://richardpope.org/blog/2014/07/06/local-government/
  redirect 301 /2014/07/16/programatically-testing-regulatory-data/  https://richardpope.org/blog/2014/07/16/programatically-testing-regulatory-data/
  redirect 301 /2014/07/17/cards/ https://richardpope.org/blog/2014/07/17/cards/
  redirect 301 /2014/07/21/input-2/ https://richardpope.org/blog/2014/07/21/input-2/
  redirect 301 /2014/07/24/notes/ https://richardpope.org/blog/2014/07/24/notes/
  redirect 301 /2014/07/27/starting-a-new-project-prototyping-a-recipe/ https://richardpope.org/blog/2014/07/27/starting-a-new-project-prototyping-a-recipe/
  redirect /2014/08/02/moo-ux-rules-circa-2008/ https://richardpope.org/blog/2014/08/02/moo-ux-rules-circa-2008/
  redirect 301 /2014/08/25/music-electro/ https://richardpope.org/blog/2014/08/25/music-electro/
  redirect 301 /2014/09/25/infobuildings/ https://richardpope.org/blog/2014/09/25/infobuildings/
  redirect 301 /openstreetmap-as-infrastructure-a-localgov-map/ https://richardpope.org/blog/2014/10/04/openstreetmap-as-infrastructure-a-localgov-map/
  redirect 301 /2014/10/05/music-notes-september/ https://richardpope.org/blog/2014/10/05/music-notes-september/
  redirect 301 /2014/11/10/product-land-1/ https://richardpope.org/blog/2014/11/10/product-land-1/
  redirect 301 /2014/12/01/co-op-v2/ https://richardpope.org/blog/2014/12/01/co-op-v2/
  redirect 301 /2014/12/24/mobile-first-demo-build-design/ https://richardpope.org/blog/2014/12/24/mobile-first-demo-build-design/
  redirect 301 /2015/01/14/qrcodes-useful/ https://richardpope.org/blog/2015/01/14/qrcodes-useful/
  redirect 301 /2015/01/17/the-challenge-for-web-designers-in-2015/ https://richardpope.org/blog/2015/01/17/the-challenge-for-web-designers-in-2015/
  redirect 301/2015/01/23/democracy-at-the-point-of-use/ https://richardpope.org/blog/2015/01/23/democracy-at-the-point-of-use/
  redirect 301 /2015/02/06/when-sign-in-becomes-frictionless/ https://richardpope.org/blog/2015/02/06/when-sign-in-becomes-frictionless/
  redirect 301 /2015/02/09/fosdem-2015-interesting-links/ https://richardpope.org/blog/2015/02/09/fosdem-2015-interesting-links/
  redirect 301 /2015/02/11/habitat-fosdem-2015-talk/ https://richardpope.org/blog/2015/02/11/habitat-fosdem-2015-talk/
  redirect 301 /2015/02/15/product-land-2/ https://richardpope.org/blog/2015/02/15/product-land-2/
  redirect 301 /2015/02/27/permissions/ https://richardpope.org/blog/2015/02/27/permissions/
  redirect 301 /2015/03/03/mobile-first-development-for-2-75/ https://richardpope.org/blog/2015/03/03/mobile-first-development-for-2-75/
  redirect 301 /2015/03/14/telegraph-laws/ https://richardpope.org/blog/2015/03/14/telegraph-laws/
  redirect 301 /2015/04/19/brand-archaeology/ https://richardpope.org/blog/2015/04/19/brand-archaeology/
  redirect 301 /2015/07/02/open-standards-for-job-vacancies/ https://richardpope.org/blog/2015/07/02/open-standards-for-job-vacancies/
  redirect 301 /2015/09/14/product-land-part-3/ https://richardpope.org/blog/2015/09/14/product-land-part-3/
  redirect 301 /2015/09/30/empathy-augmented-public-service-and-intelligent-personal-assistants/ https://richardpope.org/blog/2015/09/30/empathy-augmented-public-service-and-intelligent-personal-assistants/
  redirect 301 /2015/10/13/this-place-is-ours/ https://richardpope.org/blog/2015/10/13/this-place-is-ours/
  redirect 301 /2015/11/09/changing-change-of-circumstance-7-alternative-design-patterns/ https://richardpope.org/blog/2015/11/09/changing-change-of-circumstance-7-alternative-design-patterns/
  redirect 301 /2015/11/12/10-rules/ https://richardpope.org/blog//2015/11/12/10-rules/
  redirect 301 /2015/12/08/what-i-learned-failing-to-stand-for-election-to-which-and-why-techies-should-join/ https://richardpope.org/blog/2015/12/08/what-i-learned-failing-to-stand-for-election-to-which-and-why-techies-should-join/
  redirect 301 /2016/01/10/trust-through-doing-3-links/ https://richardpope.org/blog/2016/01/10/trust-through-doing-3-links/
  redirect 301 /2016/01/17/uk-digital-strategy-submissions-data-sharing-and-labour-market-data/ https://richardpope.org/blog/2016/01/17/uk-digital-strategy-submissions-data-sharing-and-labour-market-data/
  redirect 301 /2016/03/02/fosdem-2016-links-and-notes/ https://richardpope.org/blog/2016/03/02/fosdem-2016-links-and-notes/
  redirect 301 /2016/04/06/7-project-ideas/ https://richardpope.org/blog/2016/04/06/7-project-ideas/
  redirect 301 /2016/04/12/its-not-about-the-technology-apart-from-when-it-is/ https://richardpope.org/blog/2016/04/12/its-not-about-the-technology-apart-from-when-it-is/
  redirect 301 /2016/04/14/gherkin-as-a-universal-language-for-accountable-bots/ https://richardpope.org/blog/2016/04/14/gherkin-as-a-universal-language-for-accountable-bots/
  redirect 301 /2016/04/28/2-local-government-platforms-someone-should-just-build/ https://richardpope.org/blog/2016/04/28/2-local-government-platforms-someone-should-just-build/
  redirect 301 /2016/05/22/policy-options-for-getting-wider-adoption-of-jobposting-standard/ https://richardpope.org/blog/2016/05/22/policy-options-for-getting-wider-adoption-of-jobposting-standard/
  redirect 301 /2016/06/19/eu/ https://richardpope.org/blog/2016/06/19/eu/
  redirect 301 /2016/06/26/dear-england/ https://richardpope.org/blog/2016/06/26/dear-england/
  redirect 301 /2016/10/24/brexit-open-data-and-dangerous-products/ https://richardpope.org/blog/2016/10/24/brexit-open-data-and-dangerous-products/
  redirect 301 /2016/11/11/facebook-and-twitter-as-public-service-networks-its-not-just-about-the-algorithm/ https://richardpope.org/blog/2016/11/11/facebook-and-twitter-as-public-service-networks-its-not-just-about-the-algorithm/
  redirect 301 /2016/11/23/oscon-2016/ https://richardpope.org/blog/2016/11/23/oscon-2016/
  redirect 301 /2016/12/13/retrospective/ https://richardpope.org/blog/2016/12/13/retrospective/
  redirect 301 /2017/02/16/is-the-internet-the-problem/ https://richardpope.org/blog/2017/02/16/is-the-internet-the-problem/
  redirect 301 /2017/03/01/activity-based-permissions/ https://richardpope.org/blog/2017/03/01/activity-based-permissions/
  redirect 301 /2017/03/05/beckton-a-tool-to-build-groups-of-paying-members/ https://richardpope.org/blog/2017/03/05/beckton-a-tool-to-build-groups-of-paying-members/
  redirect 301 /2017/04/16/a-gds-retrospective-knowing-when-to-run/ https://richardpope.org/blog/2017/04/16/a-gds-retrospective-knowing-when-to-run/
  redirect 301 /2017/04/16/gds-retrospective-2-tools-for-making-communities/ https://richardpope.org/blog/2017/04/16/gds-retrospective-2-tools-for-making-communities/
  redirect 301 /2017/05/21/google-jobs-will-break-90-years-of-welfare-policy-heres-what-the-policy-response-should-be/ https://richardpope.org/blog/2017/05/21/google-jobs-will-break-90-years-of-welfare-policy-heres-what-the-policy-response-should-be/
  redirect 301 /2017/07/01/gds-retrospective-3-teams/ https://richardpope.org/blog/2017/07/01/gds-retrospective-3-teams/
  redirect 301 /2017/07/01/gds-retrospective-4/ https://richardpope.org/blog/2017/07/01/gds-retrospective-4/
  redirect 301 /2017/07/02/gds-retrospective-5-things-that-have-changed/ https://richardpope.org/blog/2017/07/02/gds-retrospective-5-things-that-have-changed/
  redirect 301 /2017/07/11/y2uk-government-it-and-brexit/ https://richardpope.org/blog/2017/07/11/y2uk-government-it-and-brexit/
  redirect 301 /2017/11/11/inlinkuk-targeted-advertising-and-public-space/ https://richardpope.org/blog/2017/11/11/inlinkuk-targeted-advertising-and-public-space/